

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Desktop - General -------------------- //

// ----- CSS - Global - Variable ----- //

:root {

    // General

    --vw                                                        : 1550;
    --multiplier                                                : 100vw;

    // Color

    --color-primary                                             : #061D6D;
    --color-secondary                                           : #4564CF;
    --color-tertiary                                            : #061D6D;
    --color-quarter                                             : #061D6D;
    --color-quinary                                             : #EFF7FF;

    --color-white                                               : #FFFFFF;
    --color-black                                               : #282828;
    --color-grey-super-light                                    : #E4E7EA;
    --color-grey-light                                          : #8B8B8B;
    --color-grey                                                : #3B3F48;

    // Transition

    --cubic-bezier-1                                            : cubic-bezier(0.625, 0.05, 0, 1);;
    --cubic-bezier-2                                            : cubic-bezier(0.4, 0, 0.7, 1);
    --cubic-bezier-3                                            : cubic-bezier(0.35, 1, 0.70, 1);
    --cubic-bezier-4                                            : cubic-bezier(0.25, 0.1, 0, 2.05);

    // Font - Family

    --font-family-primary                                       : 'Inter';
    --font-family-secondary                                     : 'Inter';

    --font-family-general                                       : 'Inter';
    --font-family-title                                         : 'Inter';
    --font-family-subtitle                                      : 'Inter';
    --font-family-description                                   : 'Inter';
    --font-family-date                                          : 'Inter';
    --font-family-caption                                       : 'Inter';
    --font-family-number                                        : 'Inter';
    --font-family-tag                                           : 'Inter';
    --font-family-link                                          : 'Inter';
    --font-family-button                                        : 'Inter';
    --font-family-textprice                                     : 'Inter';
    --font-family-sellprice                                     : 'Inter';

    // Font - Weight

    --font-weight-title                                         : 900;
    --font-weight-subtitle                                      : 400;
    --font-weight-description                                   : 400;
    --font-weight-date                                          : 400;
    --font-weight-caption                                       : 900;
    --font-weight-number                                        : 900;
    --font-weight-tag                                           : 900;
    --font-weight-link                                          : 500;
    --font-weight-button                                        : 700;
    --font-weight-textprice                                     : 900;
    --font-weight-sellprice                                     : 900;

    --font-weight-thin                                          : 100;
    --font-weight-extralight                                    : 200;
    --font-weight-light                                         : 300;
    --font-weight-regular                                       : 400;
    --font-weight-book                                          : 400;
    --font-weight-medium                                        : 500;
    --font-weight-semibold                                      : 600;
    --font-weight-bold                                          : 700;
    --font-weight-extrabold                                     : 800;
    --font-weight-black                                         : 900;
    --font-weight-heavy                                         : 900;

    // Font - Size

    --font-size-general                                         : 16;
    --font-size-title                                           : 75;
    --font-size-subtitle                                        : 16;
    --font-size-description                                     : 18;
    --font-size-date                                            : 16;
    --font-size-caption                                         : 16;
    --font-size-number                                          : 42.5;
    --font-size-tag                                             : 20;
    --font-size-link                                            : 14;
    --font-size-button                                          : 15;
    --font-size-icon                                            : 12;
    --font-size-textprice                                       : 20;
    --font-size-sellprice                                       : 55;

    --font-size-display1                                        : 60;
    --font-size-display2                                        : 60;
    --font-size-display3                                        : 60;
    --font-size-display4                                        : 60;
    --font-size-h1                                              : 48;
    --font-size-h2                                              : 32;
    --font-size-h3                                              : 28;
    --font-size-h4                                              : 24;
    --font-size-h5                                              : 20;
    --font-size-h6                                              : 15;
    --font-size-p                                               : 14;
    --font-size-small                                           : 12;
    --font-size-smallest                                        : 10;

    // Letter Spacing

    --letter-spacing-title                                      : 0.5;
    --letter-spacing-description                                : 1;

    // Button

    --button-type-solid-size                                    : 75;
}

@include media-breakpoint-down(lg) {

    :root {
        --vw                            : 900;

        --button-type-solid-size        : 75;
    }
}

@include media-breakpoint-down(sm) {

    :root {
        --vw                            : 400;

        --button-type-solid-size        : 65;
    }
}

// Animation

@keyframes animationLoopSpin {
    0% {
        transform           :rotate(0deg);
    }

    100% {
        transform           :rotate(360deg);
    }
}

// Html

html {
    scroll-behavior             : smooth;

    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
}

// Body

body {
    @include overflow-hidden;

    @include pr-0;

    font-family                 : var(--font-family-general);
    font-weight                 : var(--font-weight-regular);
    font-size                   : calc(16 / var(--vw) * var(--multiplier));

    color                       : var(--color-black);

    background                  : var(--color-white);

    &.icv__body {
        overflow                : auto !important;
    }

    // Wizard

    .wizard {
        @include position-relative;
    }
}

::selection {
    /*color                       : var(--color-black);

    background                  : var(--color-white);*/
}

// Image

.image-parallax {
    @include overflow-hidden;

    img {
        @include display-block;

        transform               : scale(1.125);
    }
}

img {
    width                       : 100%;
}

img::selection {
    background                  : transparent;
}

a, button {
    outline                     : none !important;

    box-shadow                  : none !important;

    transition                  : 0.4s ease;

    * {
        transition              : 0.4s ease;
    }

    ::before, ::after {
       transition               : 0.4s ease;
    }
}

svg {
    width                       : calc(27.5 / var(--vw) * var(--multiplier));
    height                      : calc(27.5 / var(--vw) * var(--multiplier));
}

// Cursor

.mf-cursor {
    background                  : var(--color-primary);
}

.mf-cursor.-icon {
    &:after {
        @include position-absolute;

        z-index                 : 20;

        font-size               : calc(12 / var(--vw) * var(--multiplier));

        color                   : var(--color-white);

        top                     : 50%;
        left                    : 50%;
        
        transform               : translate(-50%, -50%);

        transition              : transform .25s ease-in-out, opacity .1s;
    }
}

.mf-cursor.-text {
    &:before {
        width                   : calc(45 / var(--vw) * var(--multiplier));
        height                  : calc(45 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        top                     : calc(-22.5 / var(--vw) * var(--multiplier));
        left                    : calc(-22.5 / var(--vw) * var(--multiplier));

        transform               : scale(2.25);

        background-color        : var(--color-black);
    }
    
    .mf-cursor-inner {
        .mf-cursor-text {
            width               : calc(45 / var(--vw) * var(--multiplier));
            height              : unset;
    
            font-family         : var(--font-family-general);

            top                 : 50%;
            left                : 50%;

            font-size           : calc(14 / var(--vw) * var(--multiplier));

            line-height         : 1.35;

            color               : var(--color-white);

            transform           : translate(-50%, -50%) scale(1);
        }
    }
}

// Grid

.container {
    @include py-5;
    @include px-1;

    max-width                   : calc(1500 / var(--vw) * var(--multiplier));
}

.row {
    @include mx-minus-3;
}

// Form

.form-group {
    label {
        @include position-relative;

        @include mb-2;

        font-family             : var(--font-family-general);
        font-weight             : var(--font-weight-semibold);
        font-size               : calc(14 / var(--vw) * var(--multiplier));

        line-height             : 1.25;

        color                   : var(--color-black);

        > em {
            font-style          : normal;

            color               : #ff0000;
        }
        
        > i {
            @include ml-1;

            svg {
                width           : calc(14.5 / var(--vw) * var(--multiplier));
                height          : calc(14.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    .form-caption {
        .caption {
            > span {
                @include position-relative;

                font-family             : var(--font-family-general);
                font-weight             : var(--font-weight-regular);
                font-size               : calc(14 / var(--vw) * var(--multiplier));

                line-height             : 1.25;

                color                   : var(--color-black);  
            }
        }
    }

    .form-date, .form-input, .form-time {
        &.input-group {
            @include position-relative;

            @include display-flex;

            @include align-items-center;

            @include p-2;

            background          : var(--color-white);

            border              : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-black, 0.25);
            border-radius       : calc(4.5 / var(--vw) * var(--multiplier));

            .form-control {
                @include p-0;

                background          : transparent;

                border              : unset;
                border-radius       : unset;
            }

            > a {
                @include position-absolute;
                
                @include display-inline-flex;

                @include align-items-center;

                justify-content         : center;

                width                   : calc(32.5 / var(--vw) * var(--multiplier));
                height                  : calc(32.5 / var(--vw) * var(--multiplier));

                top                     : 50%;
                right                   : calc(5 / var(--vw) * var(--multiplier));
                
                transform               : translateY(-50%);

                background              : var(--color-quinary);

                border-radius           : calc(4.5 / var(--vw) * var(--multiplier));

                svg {
                    width               : calc(15 / var(--vw) * var(--multiplier));
                    height              : calc(15 / var(--vw) * var(--multiplier));
                }

                &:hover {
                    background          : var(--color-primary);

                    svg {
                        path {
                            stroke      : var(--color-white);
                        }
                    }
                }
            }
        }

        .form-control {
            @include height-auto;

            @include p-2;

            resize              : none;

            font-family         : var(--font-family-general);
            font-weight         : var(--font-weight-regular);
            font-size           : calc(15 / var(--vw) * var(--multiplier));

            color               : var(--color-black);

            background          : var(--color-white);

            border              : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-black, 0.25);
            border-radius       : calc(4.5 / var(--vw) * var(--multiplier));

            box-shadow          : none;

            &::placeholder {
                opacity         : 0.65;

                color           : var(--color-black);
            }
        }
    }

    .form-textarea {
        .form-control {
            @include height-auto;

            @include p-2;

            resize              : none;

            font-family         : var(--font-family-general);
            font-weight         : var(--font-weight-regular);
            font-size           : calc(15 / var(--vw) * var(--multiplier));

            color               : var(--color-black);

            background          : var(--color-white);

            border              : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-black, 0.25);
            border-radius       : calc(4.5 / var(--vw) * var(--multiplier));

            box-shadow          : none;

            &::placeholder {
                opacity         : 0.65;

                color           : var(--color-black);
            }
        }
    }

    .form-option {
        .form-control {
            @include height-auto;

            @include p-2;

            font-family         : var(--font-family-general);
            font-weight         : var(--font-weight-regular);
            font-size           : calc(15 / var(--vw) * var(--multiplier));

            color               : var(--color-black);

            background          : var(--color-white);

            border              : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-black, 0.25);
            border-radius       : calc(4.5 / var(--vw) * var(--multiplier));

            box-shadow          : none;

            &:disabled {
                @include display-none;
            }
        }
    }

    .form-radio {

        // Primary

        &.primary {
            @include position-relative;

            .form-radio-input:checked ~ .form-radio-label {
                background          : var(--color-quinary);

                border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-secondary);

                > span {
                    &.description {
                        color       : var(--color-black);
                    }
                }
            }

            .form-radio-input {
                @include position-absolute;

                z-index             : 10;

                top                 : calc(20 / var(--vw) * var(--multiplier));
                left                : calc(20 / var(--vw) * var(--multiplier));
            }

            .form-radio-label {
                @include position-relative;

                @include width-100;

                @include py-3;
                @include px-4;

                cursor              : pointer;

                border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-super-light);
                border-radius       : calc(4.5 / var(--vw) * var(--multiplier));

                transition          : 0.4s ease;

                > span {
                    @include display-block;

                    &.title {
                        @include position-absolute;

                        @include h6;
                        
                        top                 : calc(15.5 / var(--vw) * var(--multiplier));
                        left                : calc(42.5 / var(--vw) * var(--multiplier));
                        
                        font-weight         : var(--font-weight-bold);
                    }

                    &.description {
                        @include mt-5;

                        @include p;

                        font-weight         : var(--font-weight-regular);

                        line-height         : 1.35;

                        color               : var(--color-grey-light);
                    }
                }
            }
        }
    }

    .form-switch {
        .custom-switch {
            .custom-control-input:checked ~ .custom-control-label {
                &:before {
                    background          : var(--color-primary);
                }

                &:after {
                    transform           : translateX(1.60rem);
                }
            }

            .custom-control-label {
                @include my-2;
                
                &:before {
                    width               : calc(45 / var(--vw) * var(--multiplier));
                    height              : calc(22.5 / var(--vw) * var(--multiplier));

                    border-radius       : 50em;
                }

                &:after {
                    width               : calc(15 / var(--vw) * var(--multiplier));
                    height              : calc(15 / var(--vw) * var(--multiplier));

                    top                 : calc(7 / var(--vw) * var(--multiplier));
                    left                : calc(-2.25rem + 5px);

                    border-radius       : 100%;
                }
            }
        }

        .custom-switch-label {
            @include my-3;
            @include ml-4;
        }
    }

    .form-code {
        @include display-flex;

        @include align-items-center;

        main {
            @include width-100;

            @include m-0;

            pre {
                @include mb-0;
            }

            figure {
                background-color        : var(--color-white);

                border                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-super-light);

                .numbers {
                    box-shadow              : none;

                    > span {
                        background-color    : var(--color-white);
                    }
                }

                code {
                    color                   : var(--color-black);

                    background-color        : var(--color-white);

                    border                  : none;

                    box-shadow              : none;

                    .hljs-selector-tag {
                        color           : #9C3EA5;
                    }

                    .hljs-comment {
                        color           : #9D9FA3;
                    }

                    .hljs-keyword {
                        color           : #9C3EA5;
                    }

                    .hljs-literal {
                        color           : #9C3EA5;
                    }

                    .hljs-string {
                        color           : #3734CF;
                    }

                    .hljs-title {
                        color           : #9C3EA5;
                    }
                }
            }
        }
    }
}

.select2-dropdown {
    background              : var(--color-white);

    border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);

    .select2-search {
        @include display-none;

        .select2-search__field {
            @include p-2;

            outline             : none;

            font-family         : var(--font-family-general);
            font-weight         : var(--font-weight-regular);
            font-size           : calc(16 / var(--vw) * var(--multiplier));

            color               : var(--color-black);

            background          : var(--color-white);

            border              : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
            border-radius       : 0;

            box-shadow          : none;
        }
    }

    .select2-results {
        .select2-results__options {
            .select2-results__option {
                @include p-2;

                font-family         : var(--font-family-general);
                font-weight         : var(--font-weight-regular);
                font-size           : calc(16 / var(--vw) * var(--multiplier));

                color               : var(--color-black);

                &.select2-results__option--highlighted {
                    background      : var(--color-primary);
                }

                .flag-text {
                    @include ml-3;
                }
            }
        }
    }
}

// Text

// Date

.date {
    > span {
        font-family             : var(--font-family-date);
        font-weight             : var(--font-weight-date);
        font-size               : calc(var(--font-size-date) / var(--vw) * var(--multiplier));

        line-height             : 1.25;        
    }
}

// Number

.number {
    > span {
        font-family             : var(--font-family-number);
        font-weight             : var(--font-weight-number);
        font-size               : calc(var(--font-size-number) / var(--vw) * var(--multiplier));

        line-height             : 1.25;

        letter-spacing          : calc(-1.5 / var(--vw) * var(--multiplier));

        color                   : inherit;
    }
}

// Tag

.tag {
    > span {
        @include position-relative;

        @include display-inline-flex;

        @include align-items-center;

        @include text-transform-uppercase;

        justify-content         : center;

        width                   : calc(90 / var(--vw) * var(--multiplier));
        height                  : calc(90 / var(--vw) * var(--multiplier));

        font-family             : var(--font-family-caption);
        font-weight             : var(--font-weight-caption);
        font-size               : calc(var(--font-size-caption) / var(--vw) * var(--multiplier));

        line-height             : 1;

        color                   : var(--color-black);

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 100%;

        &:before {
            @include position-absolute;

            content             : '';

            width               : calc(77.5 / var(--vw) * var(--multiplier));
            height              : calc(77.5 / var(--vw) * var(--multiplier));

            top                 : 50%;
            left                : 50%;

            transform           : translate(-50%, -50%);

            background          : transparent;

            border              : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
            border-radius       : 100%;
        }
    }

    // Tertiary

    &.tag-tertiary {
        > span {
            color               : var(--color-white);

            background          : var(--color-tertiary);

            border              : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-tertiary);

            &:before {
                border          : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-white);
            }
        }
    }
}

// Price

.price {
    > span {
        @include display-block;
    }

    .textprice {
        @include text-transform-uppercase;

        font-family             : var(--font-family-textprice);
        font-weight             : var(--font-weight-textprice);
        font-size               : calc(var(--font-size-textprice) / var(--vw) * var(--multiplier));

        line-height             : 1.25;

        letter-spacing          : calc(-0.5 / var(--vw) * var(--multiplier));

        color                   : var(--color-black);
    }

    .sellprice {
        font-family             : var(--font-family-sellprice);
        font-weight             : var(--font-weight-sellprice);
        font-size               : calc(var(--font-size-sellprice) / var(--vw) * var(--multiplier));

        line-height             : 1.25;

        letter-spacing          : calc(-1.5 / var(--vw) * var(--multiplier));

        color                   : var(--color-black);
    }
}

// Button

.btn-default {
    @include position-relative;

    @include display-inline-block;

    @include p-0;

    @include text-transform-uppercase;

    font-family                 : var(--font-family-button);
    font-weight                 : var(--font-weight-button);
    font-size                   : calc(var(--font-size-button) / var(--vw) * var(--multiplier));

    border-radius               : calc(0 / var(--vw) * var(--multiplier));

    &:before, &:after {
        border-radius           : calc(0 / var(--vw) * var(--multiplier));
    }

    *:before, *:after {
        border-radius           : calc(0 / var(--vw) * var(--multiplier));
    }

    > span {
        @include display-flex;

        @include align-items-center;

        justify-content         : center;

        padding                 : calc(20 / var(--vw) * var(--multiplier)) calc(50 / var(--vw) * var(--multiplier));

        > span {
            @include position-relative;

            &.icon {
                @include display-inline-flex;

                @include align-items-center;

                @include mx-2;

                justify-content         : center;

                width                   : 1.65rem;

                > span {
                    @include position-relative;

                    @include display-inline-flex;

                    @include overflow-hidden;

                    > i {
                        &:nth-child(2) {
                            @include position-absolute;

                            left            : -105%;
                        }
                    }
                }
            }

            &.text {
                @include display-block;

                @include overflow-hidden;

                > span {
                    @include display-block;      
                    
                    &:nth-child(2) {
                        @include position-absolute;

                        top                         : 100%;
                    }                  

                    > span {
                        @include display-inline-block;

                        white-space                 : pre;

                        @for $i from 1 through 25 {
                            &:nth-child(#{$i}) {
                                transition-delay    : #{($i - 1) * 0.005}s;
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            > span {
                &.icon { 
                    > span {
                        > i {
                            &:nth-child(1) {
                                transform               : translateX(100%);
                            }

                            &:nth-child(2) {
                                left                    : 0;
                            }
                        }
                    }
                }

                &.text {
                    > span {
                        &:nth-child(1) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        &:nth-child(2) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        > span {
                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.0125}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Solid

    &.btn-solid {
        background              : none;

        border                  : none;
        border-radius           : calc(0 / var(--vw) * var(--multiplier));

        > span {
            &:before, &:after {
                @include position-absolute;

                @include width-100;
                @include height-100;

                content                 : '';

                top                     : 0;
                left                    : 0;

                transform               : scale(1);
            }
        }

        &:hover {
            > span {
                &:before, &:after {
                    transform       : scale(0.95);
                }
            }
        }

        // Primary

        &.btn-primary {
            color                       : var(--color-black);

            > span {
                &:before {
                    background          : var(--color-primary);

                    box-shadow          : 0 0 0 calc(2 / var(--vw) * var(--multiplier)) var(--color-black) inset;
                }
            }
        }

        // Secondary

        &.btn-secondary {
            color                       : var(--color-black);

            > span {
                &:before {
                    background          : var(--color-secondary);

                    box-shadow          : 0 0 0 calc(2 / var(--vw) * var(--multiplier)) var(--color-black) inset;
                }
            }
        }

        // Quarter

        &.btn-light {
            color               : var(--color-black);

            > span {
                &:before {
                    background          : var(--color-white);

                    box-shadow          : 0 0 0 calc(2 / var(--vw) * var(--multiplier)) var(--color-black) inset;
                }
            }
        }
    }
}

.btn-general {
    @include position-relative;

    @include display-inline-block;

    @include p-0;

    font-family                 : var(--font-family-button);
    font-weight                 : var(--font-weight-button);
    font-size                   : calc(var(--font-size-button) / var(--vw) * var(--multiplier));

    border-radius               : calc(0 / var(--vw) * var(--multiplier));

    &:before, &:after {
        border-radius           : calc(4.5 / var(--vw) * var(--multiplier));
    }

    *:before, *:after {
        border-radius           : calc(4.5 / var(--vw) * var(--multiplier));
    }

    > span {
        @include display-flex;

        @include align-items-center;

        @include py-2;
        @include px-5;

        justify-content         : center;

        > span {
            @include position-relative;

            &.icon {
                @include display-inline-flex;

                @include align-items-center;

                @include mx-2;

                justify-content         : center;

                width                   : 1.65rem;

                > span {
                    @include position-relative;

                    @include display-inline-flex;

                    @include overflow-hidden;

                    > i {
                        &:nth-child(2) {
                            @include position-absolute;

                            left            : -105%;
                        }
                    }
                }
            }

            &.text {
                @include display-block;

                @include overflow-hidden;

                > span {
                    @include display-block;      
                    
                    &:nth-child(2) {
                        @include position-absolute;

                        top                         : 100%;
                    }                  

                    > span {
                        @include display-inline-block;

                        white-space                 : pre;

                        @for $i from 1 through 25 {
                            &:nth-child(#{$i}) {
                                transition-delay    : #{($i - 1) * 0.005}s;
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            > span {
                &.icon { 
                    > span {
                        > i {
                            &:nth-child(1) {
                                transform               : translateX(100%);
                            }

                            &:nth-child(2) {
                                left                    : 0;
                            }
                        }
                    }
                }

                &.text {
                    > span {
                        &:nth-child(1) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        &:nth-child(2) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        > span {
                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.0125}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Solid

    &.btn-solid {
        background              : none;

        border                  : none;

        > span {
            &:before, &:after {
                @include position-absolute;

                @include width-100;
                @include height-100;

                content                 : '';

                top                     : 0;
                left                    : 0;

                transform               : scale(1);
            }
        }

        &:hover {
            > span {
                &:before, &:after {
                    transform       : scale(0.95);
                }
            }
        }

        // Primary

        &.primary {
            color                       : var(--color-white);

            > span {
                &:before {
                    background          : var(--color-primary);

                    border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-primary);
                }
            }

            &:hover {
                > span {
                    &:before {
                        background          : darken($color-primary, 5%);

                        border              : calc(1 / var(--vw) * var(--multiplier)) solid darken($color-primary, 5%);;
                    }
                }
            }
        }

        // Secondary

        &.secondary {
            color                       : var(--color-white);

            > span {
                &:before {
                    background          : var(--color-secondary);

                    border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-secondary);
                }
            }

            &:hover {
                > span {
                    &:before {
                        background          : darken($color-secondary, 5%);

                        border              : calc(1 / var(--vw) * var(--multiplier)) solid darken($color-secondary, 5%);;
                    }
                }
            }
        }
    }

    // Outline

    &.btn-outline {
        background              : none;

        border                  : none;

        > span {
            &:before, &:after {
                @include position-absolute;

                @include width-100;
                @include height-100;

                content                 : '';

                top                     : 0;
                left                    : 0;

                transform               : scale(1);
            }
        }

        &:hover {
            > span {
                &:before, &:after {
                    transform       : scale(0.95);
                }
            }
        }

        // Primary

        &.primary {
            color                       : var(--color-primary);

            > span {
                &:before {
                    background          : var(--color-white);

                    border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-primary);
                }
            }

            &:hover {
                color                   : darken($color-primary, 5%);

                > span {
                    &:before {
                        border              : calc(1 / var(--vw) * var(--multiplier)) solid darken($color-primary, 5%);;
                    }
                }
            }
        }

        // Secondary

        &.secondary {
            color                       : var(--color-white);

            > span {
                &:before {
                    background          : var(--color-white);

                    border              : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-secondary);
                }
            }

            &:hover {
                color                   : darken($color-secondary, 5%);

                > span {
                    &:before {
                        border              : calc(1 / var(--vw) * var(--multiplier)) solid darken($color-secondary, 5%);;
                    }
                }
            }
        }
    }
}

// Link

.link-default {
    @include position-relative;

    @include display-inline-block;

    @include p-0;

    @include text-decoration-none;

    font-family         : var(--font-family-link);
    font-weight         : var(--font-weight-link);
    font-size           : calc(var(--font-size-link) / var(--vw) * var(--multiplier));

    line-height         : 1.5;

    > span {
        &.wrapper {
            @include position-relative;

            @include overflow-hidden;

            @include display-flex;

            @include align-items-center;

            padding                 : calc(1.5 / var(--vw) * var(--multiplier)) calc(5 / var(--vw) * var(--multiplier));

            &:before, &:after {
                @include position-absolute;

                @include width-100;
                @include height-100;

                content                 : '';

                bottom                  : 0;
                left                    : 0;

                transform               : scaleX(0);

                background              : var(--color-black);
            }

            &:before {
                transform-origin        : right;
            }

            &:after {
                transition              : unset;

                transform-origin        : left;
            }

            > span {
                @include position-relative;

                z-index                 : 20;

                &.text {
                    @include display-flex;

                    @include align-items-center;

                    @include overflow-hidden;

                    > span {
                        @include display-block;

                        @include overflow-hidden;

                        z-index                 : 20;

                        &:nth-child(1) {
                            color               : rgba($color-black, 0.85);
                        }

                        &:nth-child(2) {
                            @include position-absolute;

                            top                 : 50%;

                            transform           : translateY(-50%);

                            color               : rgba($color-primary, 1);

                            > span {
                                transform       : translateY(100%);
                            }
                        }

                        > span {
                            @include display-inline-block;

                            white-space                     : pre;

                            @for $i from 1 through 20 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.005}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            &.wrapper {
                &:before, &:after {
                    transform               : scaleX(1);
                }

                &:before {
                    transition              : unset;
                    transition-delay        : 0.375s;
                }

                &:after {
                    transition-duration     : 0.75s;
                }
            }

            > span {
                &.text {
                    > span {
                        &:nth-child(1) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        &:nth-child(2) {
                            > span {
                                transform                   : translateY(0%);
                            }
                        }

                        > span {
                            @for $i from 1 through 20 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.0075}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {

    // Grid

    .container {
        padding                 : calc(85 / var(--vw) * var(--multiplier)) calc(15 / var(--vw) * var(--multiplier));
    }

    // Text

    .title {
        .text-title {
            font-size           : calc(40 / var(--vw) * var(--multiplier));
        }
    }
}

@include media-breakpoint-down(md) {

    // Grid

    .container {
        @include py-4;
    }

    // Form

    .form-group {
        .form-switch {
            .custom-switch {
                .custom-control-input:checked ~ .custom-control-label {
                    &:after {
                        transform           : translateX(1rem);
                    }
                }

                .custom-control-label {
                    &:after {
                        top                 : calc(8 / var(--vw) * var(--multiplier));
                    }
                }
            }

            .custom-switch-label {
                @include mt-4;
                @include ml-1;
            }
        }
    }

    // Text

    .title {
        .text-title {
            font-size           : calc(60 / var(--vw) * var(--multiplier));

            &.text-title-special {
                span {
                    &.text {
                        > span {
                            &.char {
                                margin          : 0 calc(0.5 / var(--vw) * var(--multiplier));
                            }
                        }
                    }
                }
            }
        }
    }

    // Number

    .number {
        > span {
            font-size               : calc(32.5 / var(--vw) * var(--multiplier));
        }
    }

    // Link

    .link-default {
        font-size           : calc(14 / var(--vw) * var(--multiplier));
    }
}

@include media-breakpoint-down(sm) {

    // Form

    .form-group {
        .form-switch {
            .custom-switch {
                .custom-control-input:checked ~ .custom-control-label {
                    &:after {
                        transform           : translateX(1.1rem);
                    }
                }

                .custom-control-label {
                    &:after {
                        top                 : calc(7 / var(--vw) * var(--multiplier));
                    }
                }
            }

            .custom-switch-label {
                @include mt-3;
                @include ml-2;
            }
        }
    }

    // Text

    .title {
        &.title-wrapper-special {
            padding             : calc(10 / var(--vw) * var(--multiplier)) calc(15 / var(--vw) * var(--multiplier));

            &:before {
                height          : calc(15 / var(--vw) * var(--multiplier));

                top             : calc(-15 / var(--vw) * var(--multiplier));;
            }
        }

        .text-title {
            font-size           : calc(40 / var(--vw) * var(--multiplier));

            &.text-title-special {
                span {
                    &.text {
                        @include mx-0;

                        > span {
                            &.char {
                                margin          : 0 calc(1.25 / var(--vw) * var(--multiplier));

                                > span {
                                    &.overlap {     
                                        -webkit-text-stroke-width       : calc(1.25 / var(--vw) * var(--multiplier));

                                        transform                       : translate(calc(4 / var(--vw) * var(--multiplier)), calc(-1 / var(--vw) * var(--multiplier)));
                                    }
                    
                                    &.extrude {
                                        -webkit-text-stroke-width       : calc(1.25 / var(--vw) * var(--multiplier));
                    
                                        @for $i from 1 through 15 {
                    
                                            > span:nth-child(#{$i}n) {
                                                transform               : translate(calc(#{$i} * 0.20 / var(--vw) * var(--multiplier)), calc(-#{$i} * 0.20 / var(--vw) * var(--multiplier)));
                                            }
                                        }    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .subtitle {
        .text-subtitle {                
            font-size           : calc(18 / var(--vw) * var(--multiplier));
        }
    }

    .desc {
        .text-description {                   
            font-size           : calc(16 / var(--vw) * var(--multiplier));
        }
    }

    // Tag

    .tag {
        > span {
            width                   : calc(65 / var(--vw) * var(--multiplier));
            height                  : calc(65 / var(--vw) * var(--multiplier));

            font-size               : calc(11 / var(--vw) * var(--multiplier));

            &:before {
                width               : calc(55 / var(--vw) * var(--multiplier));
                height              : calc(55 / var(--vw) * var(--multiplier));
            }
        }
    }

    // Price

    .price {
        .textprice {
            font-size               : calc(20 / var(--vw) * var(--multiplier));
        }

        .sellprice {
            font-size               : calc(45 / var(--vw) * var(--multiplier));
        }
    }

    // Button

    .btn-default {
        > span {
            padding                 : calc(17.5 / var(--vw) * var(--multiplier)) calc(40 / var(--vw) * var(--multiplier));
        }
    }
}