

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Page

.page {
    @include overflow-y-auto;
    @include overflow-x-hidden;

    height                  : calc(100vh - 72.27px);

    .page-content {
        @include position-relative;
        
        z-index             : 20;
    }
}

// Navbar

.navbar {

    // Primary

    &.primary {
        @include py-3;
        @include px-4;

        background              : var(--color-white);

        border-bottom           : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);

        .navbar-text {
            @include display-inline-block;

            @include text-decoration-none;

            @include p-0;

            max-width           : calc(400 / var(--vw) * var(--multiplier));;

            font-weight         : var(--font-weight-bold);

            color               : var(--color-black); 
            
            &:hover {
                color           : var(--color-primary); 
            }
        }

        .navbar-time {
            @include display-flex;

            @include align-items-center;

            > div {
                @include mr-4;
            }

            .time-caption {
                .caption {
                    > span {
                        font-weight         : var(--font-weight-bold);

                        color               : var(--color-black);     
                    }
                }
            }

            .time-button {
                @include display-flex;

                @include align-items-center;
                
                .button {
                    @include mr-1;

                    &:last-child {
                        @include mr-0;
                    }

                    > button {
                        background          : transparent;

                        border              : none;

                        svg {
                            path {
                                fill        : var(--color-black);
                            }
                        }

                        &:hover {
                            svg {
                                path {
                                    fill    : var(--color-primary);
                                }
                            }
                        }
                    }
                }
            }
        }

        .dropdown {
            .nav-link {
                padding                         : calc(12.5 / var(--vw) * var(--multiplier)) calc(15 / var(--vw) * var(--multiplier));

                font-weight                     : var(--font-weight-semibold);

                color                           : var(--color-primary);

                background                      : rgba($color-primary, 0.075);

                border-radius                   : calc(6.5 / var(--vw) * var(--multiplier));
                
                > span {
                    &.wrapper {
                        @include display-flex;

                        @include align-items-center;

                        justify-content             : center;   
                    }

                    > span {
                        @include display-inline-block;

                        &.text {
                            @include mr-5;
                        }

                        &.icon {
                            svg {
                                path {
                                    fill        : var(--color-primary); 
                                }
                            }
                        }
                    }
                }

                &:hover {
                    background                  : rgba($color-primary, 0.15);
                }
            }

            .dropdown-menu {
                border                          : none;
                border-radius                   : calc(6.5 / var(--vw) * var(--multiplier));

                box-shadow                      : 0px 1.5px 12.5px 3.5px rgba($color-black, 0.10);

                .dropdown-item {
                    @include p-0;

                    background                 : transparent;

                    .dropdown-link {
                        @include display-block;

                        @include text-decoration-none;

                        @include py-2;
                        @include px-4;

                        font-size               : calc(16 / var(--vw) * var(--multiplier));

                        color                   : var(--color-grey);

                        > span {
                            &.wrapper {
                                @include display-flex;

                                @include align-items-center;
                            }

                            > span {
                                @include display-inline-block;

                                &.icon {
                                    @include mr-4;
                                }
                            }
                        }
                        
                        &:hover {
                            color                               : var(--color-primary);

                            background                          : rgba($color-primary, 0.10);

                            > span {
                                > span {
                                    &.icon {
                                        svg {
                                            path {
                                                stroke          : var(--color-primary);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-nav {
            @include display-inline-block;

            @include width-auto;

            padding                         : calc(12.5 / var(--vw) * var(--multiplier)) calc(22.5 / var(--vw) * var(--multiplier));

            font-weight                     : var(--font-weight-semibold);
            font-size                       : calc(16 / var(--vw) * var(--multiplier));

            border-radius                   : calc(6.5 / var(--vw) * var(--multiplier));

            // Primary

            &.primary {
                color                       : var(--color-white);

                background                  : var(--color-primary);

                &:hover {
                    background              : darken($color-primary, 15%);
                }
            }
        }

        // Navbar Nav

        .navbar-nav {

            // Primary

            &.primary {
                @include align-items-center;
                
                @include ml-auto;

                .nav-item {
                    @include mr-3;

                    &:last-child {
                        @include mr-0;
                    }
                }
            }
        }
    }
}

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;
    }

    // ----- Main ----- //

    // Class Schedule List

    .class-schedule-list {

        // Primary

        &.primary {
            
            // Content

            .class-schedule-list-content {
                background                  : var(--color-white);

                border                      : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);
                border-radius               : calc(6.5 / var(--vw) * var(--multiplier));

                .content-wrapper {

                    // Primary

                    &.primary {
                        > .wrapper-inner {
                            @include p-4;

                            border-bottom           : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-grey-light, 0.5);

                            &:last-child {
                                border-bottom       : none; 
                            }
                        }

                        .col-content-outer {
                            @include col-12;

                            > .row {
                                @include align-items-baseline;
                            }

                            .col-content-inner {
                                &:nth-child(1) {
                                    @include col-2;

                                    @include pr-0;
                                }

                                &:nth-child(2) {
                                    @include col-10;
                                }
                            }
                        }

                        .content-date {
                            .date {
                                &.active {
                                    > span {
                                        > span {
                                            &.number {
                                                color               : var(--color-white);

                                                background          : var(--color-primary);
                                            }
                                        }
                                    }
                                }

                                > span {
                                    @include display-flex;

                                    @include align-items-center;

                                    > span {
                                        @include display-inline-block;

                                        &.number {
                                            @include display-inline-flex;

                                            @include align-items-center;

                                            @include mr-3;

                                            justify-content         : center;

                                            flex-shrink             : 0;

                                            width                   : calc(40 / var(--vw) * var(--multiplier));
                                            height                  : calc(40 / var(--vw) * var(--multiplier));
                                            
                                            font-weight             : var(--font-weight-semibold);
                                            font-size               : calc(25 / var(--vw) * var(--multiplier));

                                            border-radius           : 100%;
                                        }

                                        &.caption {
                                            transform               : translateY(calc(5 / var(--vw) * var(--multiplier)));

                                            > span {                                                
                                                @include ellipsis-single;

                                                @include display-inline-block;

                                                max-width                   : calc(80 / var(--vw) * var(--multiplier));

                                                &:nth-child(1) {
                                                    font-weight             : var(--font-weight-semibold);
                                                }
                                                
                                                &:nth-child(2) {
                                                    @include px-1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .content-list {
                            .col-list-outer {
                                @include col-12;

                                > .row {
                                    @include align-items-center;
                                }

                                .col-list-inner {
                                    @include col-12;

                                    &:nth-child(1) {
                                        max-width           : 12%;
                                    }

                                    &:nth-child(2) {
                                        max-width           : 88%;
                                    }
                                }
                            }

                            > ul {
                                @include pl-3;
                                @include mb-0;

                                list-style          : none;

                                > li {
                                    @include mb-2;

                                    &:last-child {
                                        @include mb-0;
                                    }
                                }
                            }

                            .list-card {

                                // Primary

                                &.primary {
                                    padding                             : calc(11.5 / var(--vw) * var(--multiplier)) calc(27.5 / var(--vw) * var(--multiplier));

                                    border-radius                       : 50em;

                                    // Card 1

                                    &.card-1 {
                                        background                      : var(--color-primary); 
                                    }

                                    // Card 2

                                    &.card-2 {
                                        background                      : var(--color-secondary); 

                                        .list-icon {
                                            .icon {
                                                svg {
                                                    fill                : var(--color-white);
                                                }
                                            }
                                        }
                                    }

                                    // Card 3

                                    &.card-3 {
                                        background                      : var(--color-tertiary); 

                                        .list-icon {
                                            .icon {
                                                svg {
                                                    fill                : var(--color-white);
                                                }
                                            }
                                        }
                                    }

                                    // Card 4

                                    &.card-4 {
                                        background                      : var(--color-quarter); 

                                        .list-text {
                                            .title {
                                                .text-title {
                                                    color               : var(--color-black);
                                                }
                                            }
                                        }

                                        .list-lesson {
                                            .lesson {
                                                > span {
                                                    color               : var(--color-black);
                                                }
                                            }
                                        }
                                    }

                                    .card-wrapper {

                                        // Primary

                                        &.primary {
                                            @include display-flex;

                                            @include align-items-center;

                                            justify-content             : space-between;

                                            > .wrapper-inner {
                                                @include display-flex;

                                                @include align-items-center;
                                            }
                                        }
                                    }

                                    .list-time {
                                        .time {
                                            > span {
                                                font-size               : calc(14 / var(--vw) * var(--multiplier));
                                            }
                                        }
                                    }

                                    .list-text {
                                        .title {
                                            @include mb-0;

                                            .text-title {
                                                @include mb-0;

                                                font-weight             : var(--font-weight-semibold);
                                                font-size               : calc(16 / var(--vw) * var(--multiplier));

                                                color                   : var(--color-white);
                                            }
                                        }
                                    }

                                    .list-lesson {
                                        .lesson {
                                            > span {
                                                @include display-inline-block;

                                                font-size               : calc(16 / var(--vw) * var(--multiplier));

                                                color                   : var(--color-white);

                                                &:before {
                                                    @include px-2;

                                                    content             : '|';
                                                }
                                            }
                                        }
                                    }

                                    .list-status {
                                        .status {
                                            > span {
                                                @include py-1;
                                                @include px-2;

                                                @include text-transform-uppercase;

                                                font-weight             : var(--font-weight-semibold);
                                                font-size               : calc(14 / var(--vw) * var(--multiplier));

                                                border-radius           : calc(3.5 / var(--vw) * var(--multiplier));

                                                // Complete

                                                &.complete {
                                                    color               : #065509;

                                                    background          : #D3FFC8;
                                                }

                                                // Confirm

                                                &.confirm {
                                                    color               : #1D0075;

                                                    background          : #C8E0FF;
                                                }

                                                // Unconfirm

                                                &.unconfirm {
                                                    color               : #750000;

                                                    background          : #FFC8C8;
                                                }

                                                // Visible

                                                &.visible {
                                                    color               : #065509;

                                                    background          : #D3FFC8;
                                                }
                                            }
                                        }
                                    }

                                    .list-icon {
                                        @include ml-4;

                                        width                           : calc(25 / var(--vw) * var(--multiplier));

                                        .icon {
                                            svg {
                                                fill                    : var(--color-black);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


