

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Content

.content {

}

// Page

.page {
    .page-content {
        @include position-relative;
        
        z-index             : 20;
    }
}

// Navbar

// Sidebar

.sidebar {

    // Primary

    &.primary {
        width               : 25%;

        // Header

        .sidebar-header {
            @include text-align-center;

            @include p-2;

            background      : var(--color-primary);

            .header-text {
                .title {
                    h2 {
                        @include mb-0;

                        @include font-semibold;
                        @include h6;

                        color           : var(--color-white);
                    }
                }
            }
        }

        // Content

        .sidebar-content {
            @include p-4;

            height                      : calc(100vh - 39px);

            background                  : var(--color-grey-super-light);
            
            .content-list {
                > ul {
                    @include pl-0;

                    list-style          : none; 

                    > li {
                        @include mb-3;

                        &:last-child {
                            @include mb-0;
                        }
                        
                        .list-wrapper {

                            // Primary

                            &.primary {
                                @include position-relative;

                                @include p-4;

                                background          : var(--color-white);

                                border-radius       : calc(7.5 / var(--vw) * var(--multiplier));

                                .list-anchor {
                                    @include position-absolute;
                                    
                                    @include width-100;
                                    @include height-100;

                                    z-index         : 10;

                                    top             : 0;
                                    left            : 0; 
                                }

                                .list-icon {
                                    @include mb-3;
                                }

                                .list-text {
                                    .title {
                                        h3 {
                                            @include font-semibold;
                                            @include p;

                                            color           : var(--color-black);

                                            transition      : 0.3s ease; 
                                        }
                                    }

                                    .desc {
                                        p {
                                            @include font-regular;
                                            @include p;

                                            color           : var(--color-grey-light);
                                        }
                                    }
                                }

                                &:hover {
                                    .list-text {
                                        .title {
                                            h3 {
                                                color       : var(--color-primary);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-overlay {
    @include position-fixed;

    @include width-100;
    @include height-100;

    pointer-events      : none; 

    z-index             : 1000;

    opacity             : 0;

    top                 : 0;
    left                : 0;

    background          : rgba($color-black, 0.125);

    transition          : 0.5s ease;

    &.active {
        pointer-events  : auto; 

        opacity         : 1;
    }
}

// Modal

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;
    }
}


